@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "NohemiLight";
  src: url("/Fonts/Nohemi/Nohemi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NohemiExtraLight";
  src: url("/Fonts/Nohemi/Nohemi-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NohemiRegular";
  src: url("/Fonts/Nohemi/Nohemi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NohemiBold";
  src: url("/Fonts/Nohemi/Nohemi-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NohemiExtraBold";
  src: url("/Fonts/Nohemi/Nohemi-ExtraBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


